#!pip install geopandas shapely

pip install pyarrow
pip install fastparquet

!pip install simplejson

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import geopandas as gpd
import pyarrow.parquet as pq
import json

Extracting raw data :
 - Data source 1 : Transactional data for NYC trip with 1 row for i individual trip. The dataa is in Apache parquet format
 - Data source 2 : csv data with Taxi zone lookup information 
 - Data source 2 : GIS Spatial data containg shaplefile (.shp) for geomatic coordinates in a zipfolder

## Data Loading : Extraction

In [27]:
# Read Parquet Trip data into Pandas DataFrame

df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")

# additinal trip data

taxizonelookup = pd.read_csv('https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv')

#  Geospatial data from zip folder to get coordinates
zipfile = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zones.zip'
location_dim = gpd.read_file(zipfile)

####  Exploring raw data

In [28]:
print(df.head())
print(df.shape)

print(df.columns)
print (df.nunique())

print(df.info())
print(df.describe())

# Categorical columns
print(df['PULocationID'].nunique())
print(df['DOLocationID'].nunique())
print(df['passenger_count'].nunique())
print(df['trip_distance'].nunique())
'''

# trip_type column exists inonly few dataset
print(df['trip_type'].nunique())
print(df['trip_type'].unique())
print(df['trip_type'].value_counts()) ## <3% rows of type 2
'''

print(df['airport_fee'].unique())
print(df['congestion_surcharge'].unique())         
print(df['improvement_surcharge'].unique())   

print(df['tolls_amount'].nunique())            
print(df['tip_amount'].nunique())            
print(df['mta_tax'].nunique())        
print(df['extra'].nunique())   
print(df['fare_amount'].nunique())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1         2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2         2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3         1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4         2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.97         1.0                  N           161           141
1           1.10         1.0                  N            43           237
2           2.51         1.0                  N            48           238
3           1.90         1.0                  N           138             7
4           1.43         1.0                  N           107            79

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          9.3   1.00      0.5        0.00           0.0
1             1          7.9   1.00      0.5        4.00           0.0
2             1         14.9   1.00      0.5       15.00           0.0
3             1         12.1   7.25      0.5        0.00           0.0
4             1         11.4   1.00      0.5        3.28           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0         14.30                   2.5         0.00
1                    1.0         16.90                   2.5         0.00
2                    1.0         34.90                   2.5         0.00
3                    1.0         20.85                   0.0         1.25
4                    1.0         19.68                   2.5         0.00
(3066766, 19)
Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')
VendorID                       2
tpep_pickup_datetime     1610975
tpep_dropoff_datetime    1611319
passenger_count               10
trip_distance               4387
RatecodeID                     7
store_and_fwd_flag             2
PULocationID                 257
DOLocationID                 261
payment_type                   5
fare_amount                 6873
extra                         68
mta_tax                       10
tip_amount                  4036
tolls_amount                 776
improvement_surcharge          5
total_amount               15871
congestion_surcharge           3
airport_fee                    3
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB
None
           VendorID  passenger_count  trip_distance    RatecodeID  \
count  3.066766e+06     2.995023e+06   3.066766e+06  2.995023e+06
mean   1.730215e+00     1.362532e+00   3.847342e+00  1.497440e+00
std    4.438480e-01     8.961200e-01   2.495838e+02  6.474767e+00
min    1.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00
25%    1.000000e+00     1.000000e+00   1.060000e+00  1.000000e+00
50%    2.000000e+00     1.000000e+00   1.800000e+00  1.000000e+00
75%    2.000000e+00     1.000000e+00   3.330000e+00  1.000000e+00
max    2.000000e+00     9.000000e+00   2.589281e+05  9.900000e+01

       PULocationID  DOLocationID  payment_type   fare_amount         extra  \
count  3.066766e+06  3.066766e+06  3.066766e+06  3.066766e+06  3.066766e+06
mean   1.663980e+02  1.643926e+02  1.194483e+00  1.836707e+01  1.537842e+00
std    6.424413e+01  6.994368e+01  5.294762e-01  1.780782e+01  1.789592e+00
min    1.000000e+00  1.000000e+00  0.000000e+00 -9.000000e+02 -7.500000e+00
25%    1.320000e+02  1.140000e+02  1.000000e+00  8.600000e+00  0.000000e+00
50%    1.620000e+02  1.620000e+02  1.000000e+00  1.280000e+01  1.000000e+00
75%    2.340000e+02  2.340000e+02  1.000000e+00  2.050000e+01  2.500000e+00
max    2.650000e+02  2.650000e+02  4.000000e+00  1.160100e+03  1.250000e+01

            mta_tax    tip_amount  tolls_amount  improvement_surcharge  \
count  3.066766e+06  3.066766e+06  3.066766e+06           3.066766e+06
mean   4.882900e-01  3.367941e+00  5.184907e-01           9.820847e-01
std    1.034641e-01  3.826759e+00  2.017579e+00           1.833529e-01
min   -5.000000e-01 -9.622000e+01 -6.500000e+01          -1.000000e+00
25%    5.000000e-01  1.000000e+00  0.000000e+00           1.000000e+00
50%    5.000000e-01  2.720000e+00  0.000000e+00           1.000000e+00
75%    5.000000e-01  4.200000e+00  0.000000e+00           1.000000e+00
max    5.316000e+01  3.808000e+02  1.969900e+02           1.000000e+00

       total_amount  congestion_surcharge   airport_fee
count  3.066766e+06          2.995023e+06  2.995023e+06
mean   2.702038e+01          2.274231e+00  1.074086e-01
std    2.216359e+01          7.718454e-01  3.556511e-01
min   -7.510000e+02         -2.500000e+00 -1.250000e+00
25%    1.540000e+01          2.500000e+00  0.000000e+00
50%    2.016000e+01          2.500000e+00  0.000000e+00
75%    2.870000e+01          2.500000e+00  0.000000e+00
max    1.169400e+03          2.500000e+00  1.250000e+00
257
261
10
4387
[ 0.    1.25 -1.25   nan]
[ 2.5  0.  -2.5  nan]
[ 1.  -1.   0.3  0.  -0.3]
776
4036
10
68
6873

## Data Transformation : Dimension Modeling (Star schema)

Cleaning , Removing Duplicates, Correcting Datatype, reset index , Create Primary and Surrogate Key

In [32]:
# Keeping granularity only till hour 
df['tpep_pickup_datetime'] = df['tpep_pickup_datetime'].dt.floor('H')
df['tpep_dropoff_datetime'] = df['tpep_dropoff_datetime'].dt.floor('H')

### - converting ID columns to INT datatype (from float)  + dealing with nan

In [33]:
### Passenger count column 
print(df['passenger_count'].value_counts())

df[df['passenger_count'].isna()]  # view the rows with nan

print(df['passenger_count'].isna().sum()) #total rows with nana 
 
# since passanger_count is a dim table 
# assign 10 (10 surrogate id) to nan vale 

df['passenger_count'] = df['passenger_count'].fillna(10).round().astype(int)

1.0    2261400
2.0     451536
3.0     106353
4.0      53745
0.0      51164
5.0      42681
6.0      28124
8.0         13
7.0          6
9.0          1
Name: passenger_count, dtype: int64
71743

In [34]:
### RatecodeID column 

print(df['RatecodeID'].value_counts())
print(df['RatecodeID'].unique())
print(df['RatecodeID'].isna().sum()) # total nan values in ratecodeID column
print(df[df['RatecodeID'].isna()].head(5)) # print rows with nan 
# assign 10 (10 surrogate id) to nan vale 

df['RatecodeID'] = df['RatecodeID'].fillna(10).round().astype(int)

1.0     2839305
2.0      114239
5.0       15043
99.0      13106
3.0        8958
4.0        4366
6.0           6
Name: RatecodeID, dtype: int64
[ 1.  2.  4. 99.  5.  3.  6. nan]
71743
         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
2995023         1           2023-01-01   2023-01-01 00:00:00               10
2995024         1           2023-01-01   2023-01-01 01:00:00               10
2995025         2           2023-01-01   2023-01-01 01:00:00               10
2995026         2           2023-01-01   2023-01-01 00:00:00               10
2995027         2           2023-01-01   2023-01-01 00:00:00               10

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
2995023           0.00         NaN               None           142
2995024           0.00         NaN               None           237
2995025           0.86         NaN               None            24
2995026           5.36         NaN               None            88
2995027           6.03         NaN               None           232

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
2995023            79             0        20.13    0.0      0.5        0.00
2995024           263             0        12.00    1.0      0.5        2.55
2995025            41             0        12.80    0.0      0.5        2.14
2995026           229             0        24.51    0.0      0.5        4.28
2995027           263             0        32.30    0.0      0.5        7.26

         tolls_amount  improvement_surcharge  total_amount  \
2995023           0.0                    1.0         24.13
2995024           0.0                    1.0         21.55
2995025           0.0                    1.0         16.44
2995026           0.0                    1.0         32.79
2995027           0.0                    1.0         43.56

         congestion_surcharge  airport_fee
2995023                   NaN          NaN
2995024                   NaN          NaN
2995025                   NaN          NaN
2995026                   NaN          NaN
2995027                   NaN          NaN

### checking numeric columns with negetive amount

In [35]:
# checking numeric columns with negetive amount
df[df['total_amount']<0]['payment_type'].unique()  
df[df['total_amount']<0]['VendorID'].unique()  # negetive value is from vendor 2
df[df['total_amount']<0]['store_and_fwd_flag'].unique()

array(['N', 'Y', None], dtype=object)

In [36]:
# creating a function to convert only negetive values in dataset

def convert_negetive_only(x):
    if (pd.notna(x) and x < 0):
        return -x
    else :
        return x

In [37]:
df['improvement_surcharge']  = df['improvement_surcharge'].apply(convert_negetive_only)
df['congestion_surcharge'] = df['congestion_surcharge'].apply(convert_negetive_only)
df['airport_fee'] = df['airport_fee'].apply(convert_negetive_only)
df['tolls_amount'] = df['tolls_amount'].apply(convert_negetive_only)           
df['tip_amount'] = df['tip_amount'].apply(convert_negetive_only)          
df['mta_tax'] = df['mta_tax'].apply(convert_negetive_only)         
df['extra'] = df['extra'].apply(convert_negetive_only)   
df['fare_amount'] = df['fare_amount'].apply(convert_negetive_only)    
df['total_amount'] = df['total_amount'].apply(convert_negetive_only)

### drop duplicates and reset index , set primary key

In [38]:
df = df.drop_duplicates().reset_index(drop=True)  # drop duplicates for whole dataset
df['trip_id'] = df.index #set new index value and save it as new PK column

In [39]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_id
0,2,2023-01-01,2023-01-01 00:00:00,1,0.97,1,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0
1,2,2023-01-01,2023-01-01 01:00:00,1,1.10,1,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,1
2,2,2023-01-01,2023-01-01 00:00:00,1,2.51,1,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,2
3,1,2023-01-01,2023-01-01 00:00:00,0,1.90,1,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,3
4,2,2023-01-01,2023-01-01 00:00:00,1,1.43,1,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,4

## DIMENSION MODELING

### Creating DIM_date

In [40]:
#Generate a Range of Dates: dates we want to include in the dimension table. This range should cover the time span of the data.

# Granularity to hour
start_date = df['tpep_pickup_datetime'].min().floor('H')
print(f" min dattime in raw data :{start_date}")
end_time = df['tpep_dropoff_datetime'].max().floor('H')
print(f" max date in raw data :{end_time}")

##create a series of required date range   
date_range = pd.date_range( start=start_date, end=end_time, freq='H' )  # D = day H= hour T= minutes

 min dattime in raw data :2008-12-31 23:00:00
 max date in raw data :2023-02-02 09:00:00

In [41]:
date_dim = pd.DataFrame({'date':date_range})
date_dim = date_dim.reset_index(drop=True)

# using surrogatee= key as a pk in dim
date_dim['date_id'] = date_dim.index 
#date_dim.head()


date_dim['year'] = date_dim['date'].dt.year
date_dim['month'] = date_dim['date'].dt.month
date_dim['day'] = date_dim['date'].dt.day
date_dim['weekday'] = date_dim['date'].dt.weekday  # Monday is 0 and Sunday is 6
date_dim['day_name'] = date_dim['date'].dt.day_name()
date_dim['hour'] = date_dim['date'].dt.hour

date_dim = date_dim[['date_id','date', 'year', 'month', 'day', 'weekday', 'day_name', 'hour']]
date_dim.head()

   date_id                date  year  month  day  weekday   day_name  hour
0        0 2008-12-31 23:00:00  2008     12   31        2  Wednesday    23
1        1 2009-01-01 00:00:00  2009      1    1        3   Thursday     0
2        2 2009-01-01 01:00:00  2009      1    1        3   Thursday     1
3        3 2009-01-01 02:00:00  2009      1    1        3   Thursday     2
4        4 2009-01-01 03:00:00  2009      1    1        3   Thursday     3

### Creating Vendor_dim

In [42]:
vendordict = {1: 'Creative Mobile Technologies', 2: 'VeriFone Inc'}

vendor_dim = pd.DataFrame({ 'VendorID':list(vendordict.keys()) , 'Vendor_name':list(vendordict.values()) })

# primary key of is a surrogate key ; considering this a SCD-2
vendor_dim['vendor_PK'] = range(1, len(vendor_dim) + 1)

vendor_dim = vendor_dim[['vendor_PK', 'VendorID', 'Vendor_name']]

vendor_dim.head()

   vendor_PK  VendorID                   Vendor_name
0          1         1  Creative Mobile Technologies
1          2         2                  VeriFone Inc

### Creating RATE_DIM

In [15]:
rate_dict = {
    1: 'Standard rate',
    2:'JFK',
    3:'Newark',
    4: 'Nassau or Westchester',
    5: 'Negotiated fare',
    6:'Group ride',
10:'nan',
99:'no information'} 

Ratecode_dim  =  pd.DataFrame({'RatecodeID':list(rate_dict.keys())}).reset_index(drop=True)
Ratecode_dim['RatecodeType']  =     Ratecode_dim['RatecodeID'].map(rate_dict) # natural key 
Ratecode_dim['Ratedim_id'] = Ratecode_dim.index #surrogate pk

Ratecode_dim = Ratecode_dim[['Ratedim_id', 'RatecodeID', 'RatecodeType']]

Ratecode_dim

   Ratedim_id  RatecodeID           RatecodeType
0           0           1          Standard rate
1           1           2                    JFK
2           2           3                 Newark
3           3           4  Nassau or Westchester
4           4           5        Negotiated fare
5           5           6             Group ride
6           6          10                    nan
7           7          99         no information

### Creating PAYMENT_DIM

In [16]:
payment_dict = {
        0: 'no information',
        1: 'Credit card',
        2: 'Cash',
        3: 'No charge',
        4: 'Dispute',
        5: 'Unknown',
        6: 'Voided trip'}

payment_dim = pd.DataFrame({'Payment_typeID':list(payment_dict.keys()),
                           'Payment_type':list(payment_dict.values())})
payment_dim

   Payment_typeID    Payment_type
0               0  no information
1               1     Credit card
2               2            Cash
3               3       No charge
4               4         Dispute
5               5         Unknown
6               6     Voided trip

### Creating LOCATION_DIM

In [23]:

#contains service_zone column
#taxizonelookup = pd.read_csv('https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv')
taxizonelookup.head(10)

#converting data into dictionary 
tzlookup_dict = taxizonelookup.set_index('LocationID')['service_zone'].to_dict()
tzlookup_dict

{1: 'EWR',
 2: 'Boro Zone',
 3: 'Boro Zone',
 4: 'Yellow Zone',
 5: 'Boro Zone',
 6: 'Boro Zone',
 7: 'Boro Zone',
 8: 'Boro Zone',
 9: 'Boro Zone',
 10: 'Boro Zone',
 11: 'Boro Zone',
 12: 'Yellow Zone',
 13: 'Yellow Zone',
 14: 'Boro Zone',
 15: 'Boro Zone',
 16: 'Boro Zone',
 17: 'Boro Zone',
 18: 'Boro Zone',
 19: 'Boro Zone',
 20: 'Boro Zone',
 21: 'Boro Zone',
 22: 'Boro Zone',
 23: 'Boro Zone',
 24: 'Yellow Zone',
 25: 'Boro Zone',
 26: 'Boro Zone',
 27: 'Boro Zone',
 28: 'Boro Zone',
 29: 'Boro Zone',
 30: 'Boro Zone',
 31: 'Boro Zone',
 32: 'Boro Zone',
 33: 'Boro Zone',
 34: 'Boro Zone',
 35: 'Boro Zone',
 36: 'Boro Zone',
 37: 'Boro Zone',
 38: 'Boro Zone',
 39: 'Boro Zone',
 40: 'Boro Zone',
 41: 'Boro Zone',
 42: 'Boro Zone',
 43: 'Yellow Zone',
 44: 'Boro Zone',
 45: 'Yellow Zone',
 46: 'Boro Zone',
 47: 'Boro Zone',
 48: 'Yellow Zone',
 49: 'Boro Zone',
 50: 'Yellow Zone',
 51: 'Boro Zone',
 52: 'Boro Zone',
 53: 'Boro Zone',
 54: 'Boro Zone',
 55: 'Boro Zone',
 56: 'Boro Zone',
 57: 'Boro Zone',
 58: 'Boro Zone',
 59: 'Boro Zone',
 60: 'Boro Zone',
 61: 'Boro Zone',
 62: 'Boro Zone',
 63: 'Boro Zone',
 64: 'Boro Zone',
 65: 'Boro Zone',
 66: 'Boro Zone',
 67: 'Boro Zone',
 68: 'Yellow Zone',
 69: 'Boro Zone',
 70: 'Boro Zone',
 71: 'Boro Zone',
 72: 'Boro Zone',
 73: 'Boro Zone',
 74: 'Boro Zone',
 75: 'Boro Zone',
 76: 'Boro Zone',
 77: 'Boro Zone',
 78: 'Boro Zone',
 79: 'Yellow Zone',
 80: 'Boro Zone',
 81: 'Boro Zone',
 82: 'Boro Zone',
 83: 'Boro Zone',
 84: 'Boro Zone',
 85: 'Boro Zone',
 86: 'Boro Zone',
 87: 'Yellow Zone',
 88: 'Yellow Zone',
 89: 'Boro Zone',
 90: 'Yellow Zone',
 91: 'Boro Zone',
 92: 'Boro Zone',
 93: 'Boro Zone',
 94: 'Boro Zone',
 95: 'Boro Zone',
 96: 'Boro Zone',
 97: 'Boro Zone',
 98: 'Boro Zone',
 99: 'Boro Zone',
 100: 'Yellow Zone',
 101: 'Boro Zone',
 102: 'Boro Zone',
 103: 'Yellow Zone',
 104: 'Yellow Zone',
 105: 'Yellow Zone',
 106: 'Boro Zone',
 107: 'Yellow Zone',
 108: 'Boro Zone',
 109: 'Boro Zone',
 110: 'Boro Zone',
 111: 'Boro Zone',
 112: 'Boro Zone',
 113: 'Yellow Zone',
 114: 'Yellow Zone',
 115: 'Boro Zone',
 116: 'Boro Zone',
 117: 'Boro Zone',
 118: 'Boro Zone',
 119: 'Boro Zone',
 120: 'Boro Zone',
 121: 'Boro Zone',
 122: 'Boro Zone',
 123: 'Boro Zone',
 124: 'Boro Zone',
 125: 'Yellow Zone',
 126: 'Boro Zone',
 127: 'Boro Zone',
 128: 'Boro Zone',
 129: 'Boro Zone',
 130: 'Boro Zone',
 131: 'Boro Zone',
 132: 'Airports',
 133: 'Boro Zone',
 134: 'Boro Zone',
 135: 'Boro Zone',
 136: 'Boro Zone',
 137: 'Yellow Zone',
 138: 'Airports',
 139: 'Boro Zone',
 140: 'Yellow Zone',
 141: 'Yellow Zone',
 142: 'Yellow Zone',
 143: 'Yellow Zone',
 144: 'Yellow Zone',
 145: 'Boro Zone',
 146: 'Boro Zone',
 147: 'Boro Zone',
 148: 'Yellow Zone',
 149: 'Boro Zone',
 150: 'Boro Zone',
 151: 'Yellow Zone',
 152: 'Boro Zone',
 153: 'Boro Zone',
 154: 'Boro Zone',
 155: 'Boro Zone',
 156: 'Boro Zone',
 157: 'Boro Zone',
 158: 'Yellow Zone',
 159: 'Boro Zone',
 160: 'Boro Zone',
 161: 'Yellow Zone',
 162: 'Yellow Zone',
 163: 'Yellow Zone',
 164: 'Yellow Zone',
 165: 'Boro Zone',
 166: 'Boro Zone',
 167: 'Boro Zone',
 168: 'Boro Zone',
 169: 'Boro Zone',
 170: 'Yellow Zone',
 171: 'Boro Zone',
 172: 'Boro Zone',
 173: 'Boro Zone',
 174: 'Boro Zone',
 175: 'Boro Zone',
 176: 'Boro Zone',
 177: 'Boro Zone',
 178: 'Boro Zone',
 179: 'Boro Zone',
 180: 'Boro Zone',
 181: 'Boro Zone',
 182: 'Boro Zone',
 183: 'Boro Zone',
 184: 'Boro Zone',
 185: 'Boro Zone',
 186: 'Yellow Zone',
 187: 'Boro Zone',
 188: 'Boro Zone',
 189: 'Boro Zone',
 190: 'Boro Zone',
 191: 'Boro Zone',
 192: 'Boro Zone',
 193: 'Boro Zone',
 194: 'Yellow Zone',
 195: 'Boro Zone',
 196: 'Boro Zone',
 197: 'Boro Zone',
 198: 'Boro Zone',
 199: 'Boro Zone',
 200: 'Boro Zone',
 201: 'Boro Zone',
 202: 'Boro Zone',
 203: 'Boro Zone',
 204: 'Boro Zone',
 205: 'Boro Zone',
 206: 'Boro Zone',
 207: 'Boro Zone',
 208: 'Boro Zone',
 209: 'Yellow Zone',
 210: 'Boro Zone',
 211: 'Yellow Zone',
 212: 'Boro Zone',
 213: 'Boro Zone',
 214: 'Boro Zone',
 215: 'Boro Zone',
 216: 'Boro Zone',
 217: 'Boro Zone',
 218: 'Boro Zone',
 219: 'Boro Zone',
 220: 'Boro Zone',
 221: 'Boro Zone',
 222: 'Boro Zone',
 223: 'Boro Zone',
 224: 'Yellow Zone',
 225: 'Boro Zone',
 226: 'Boro Zone',
 227: 'Boro Zone',
 228: 'Boro Zone',
 229: 'Yellow Zone',
 230: 'Yellow Zone',
 231: 'Yellow Zone',
 232: 'Yellow Zone',
 233: 'Yellow Zone',
 234: 'Yellow Zone',
 235: 'Boro Zone',
 236: 'Yellow Zone',
 237: 'Yellow Zone',
 238: 'Yellow Zone',
 239: 'Yellow Zone',
 240: 'Boro Zone',
 241: 'Boro Zone',
 242: 'Boro Zone',
 243: 'Boro Zone',
 244: 'Boro Zone',
 245: 'Boro Zone',
 246: 'Yellow Zone',
 247: 'Boro Zone',
 248: 'Boro Zone',
 249: 'Yellow Zone',
 250: 'Boro Zone',
 251: 'Boro Zone',
 252: 'Boro Zone',
 253: 'Boro Zone',
 254: 'Boro Zone',
 255: 'Boro Zone',
 256: 'Boro Zone',
 257: 'Boro Zone',
 258: 'Boro Zone',
 259: 'Boro Zone',
 260: 'Boro Zone',
 261: 'Yellow Zone',
 262: 'Yellow Zone',
 263: 'Yellow Zone',
 264: nan,
 265: nan}

In [24]:
#zipfile = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zones.zip'
#location_dim = gpd.read_file(zipfile)  

# Extract Latitude and Longitude
location_dim['latitude'] = location_dim.geometry.centroid.y
location_dim['longitude'] = location_dim.geometry.centroid.x

# appending service_zone column in location dim
location_dim['service_zone'] = location_dim['LocationID'].map(tzlookup_dict)

#reordering columns
location_dim = location_dim[['LocationID','OBJECTID','zone','borough','service_zone','latitude','longitude','geometry','Shape_Leng','Shape_Area']]

In [33]:
location_dim.head()

,LocationID,OBJECTID,zone,borough,service_zone,latitude,longitude,geometry,Shape_Leng,Shape_Area
0,1,1,Newark Airport,EWR,EWR,191376.749531,9.359968e+05,"POLYGON ((933100.918 192536.086, 933091.011 19...",0.116357,0.000782
1,2,2,Jamaica Bay,Queens,Boro Zone,164018.754403,1.031086e+06,"MULTIPOLYGON (((1033269.244 172126.008, 103343...",0.433470,0.004866
2,3,3,Allerton/Pelham Gardens,Bronx,Boro Zone,254265.478659,1.026453e+06,"POLYGON ((1026308.770 256767.698, 1026495.593 ...",0.084341,0.000314
3,4,4,Alphabet City,Manhattan,Yellow Zone,202959.782391,9.906340e+05,"POLYGON ((992073.467 203714.076, 992068.667 20...",0.043567,0.000112
4,5,5,Arden Heights,Staten Island,Boro Zone,140681.351376,9.318714e+05,"POLYGON ((935843.310 144283.336, 936046.565 14...",0.092146,0.000498

### Creating FACT table

In [23]:
df.columns
df.shape
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,trip_id
0,2,2023-01-01,2023-01-01 00:00:00,1,0.97,1,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0
1,2,2023-01-01,2023-01-01 01:00:00,1,1.10,1,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,1
2,2,2023-01-01,2023-01-01 00:00:00,1,2.51,1,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,2
3,1,2023-01-01,2023-01-01 00:00:00,0,1.90,1,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,3
4,2,2023-01-01,2023-01-01 00:00:00,1,1.43,1,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,4

In [27]:
fact_table = df.merge( date_dim, left_on='tpep_pickup_datetime', right_on='date', how='left') \
                .merge( date_dim, left_on='tpep_dropoff_datetime', right_on='date', how='left') \
                .merge( vendor_dim, left_on='VendorID', right_on='VendorID', how='left') \
                .merge( Ratecode_dim, left_on='RatecodeID', right_on='RatecodeID', how='left') \
                .merge( payment_dim, left_on='payment_type', right_on='Payment_typeID', how='left') \
                    [['trip_id', 'date_id_x',  'date_id_y',  'DOLocationID','PULocationID',  'vendor_PK', 'Ratedim_id', 'Payment_typeID'
                           ,'passenger_count', 'trip_distance', 'store_and_fwd_flag','fare_amount', 'extra',
                           'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
                            'congestion_surcharge', 'airport_fee', 'total_amount']]

In [30]:
fact_table.rename(columns={'date_id_x': 'tpep_pickup_datetime'}, inplace=True)
fact_table.rename(columns={'date_id_y': 'tpep_dropoff_datetime'}, inplace=True)

In [32]:
print(fact_table.shape)
print(fact_table.columns)
fact_table.head()

(3041801, 20)
Index(['trip_id', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'DOLocationID', 'PULocationID', 'vendor_PK', 'Ratedim_id',
       'Payment_typeID', 'passenger_count', 'trip_distance',
       'store_and_fwd_flag', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'congestion_surcharge',
       'airport_fee', 'total_amount'],
      dtype='object')

,trip_id,tpep_pickup_datetime,tpep_dropoff_datetime,DOLocationID,PULocationID,vendor_PK,Ratedim_id,Payment_typeID,passenger_count,trip_distance,store_and_fwd_flag,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,congestion_surcharge,airport_fee,total_amount
0,0,122713,122713,141,161,2,0,2,1,0.97,N,9.3,1.00,0.5,0.00,0.0,1.0,2.5,0.00,14.30
1,1,122713,122714,237,43,2,0,1,1,1.10,N,7.9,1.00,0.5,4.00,0.0,1.0,2.5,0.00,16.90
2,2,122713,122713,238,48,2,0,1,1,2.51,N,14.9,1.00,0.5,15.00,0.0,1.0,2.5,0.00,34.90
3,3,122713,122713,7,138,1,0,1,0,1.90,N,12.1,7.25,0.5,0.00,0.0,1.0,0.0,1.25,20.85
4,4,122713,122713,79,107,2,0,1,1,1.43,N,11.4,1.00,0.5,3.28,0.0,1.0,2.5,0.00,19.68

In [40]:
dic = {'a':123, 'b': 900, 'c': 456 }
print(dic.items())


for x,y in dic.items() :
    print(f" key = {x} , value = {y} ")
    z = 'this is the youtube Dynamic assigmen for x = {}'.format(y)
    print(z)

dict_items([('a', 123), ('b', 900), ('c', 456)])
 key = a , value = 123
this is the youtube Dynamic assigmen for x = 123
 key = b , value = 900
this is the youtube Dynamic assigmen for x = 900
 key = c , value = 456
this is the youtube Dynamic assigmen for x = 456